*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html{
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000022;
    color: goldenrod;
    font-size: 16px;
}

body{
    /* padding: 10px; */
    margin: 0;
    width: 100%;
    height: 100%;
}

#root{
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.header-container{
    margin-bottom: 20px;
}

.header-container h1{
    margin: 0;
    text-align: center;
    font-size: 4rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: #cacaca;
    width: 50%;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid goldenrod;
    box-shadow: -15px 15px 50px #000011;
}

.form-container h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px 0;
    border-bottom: 1px solid gray;
}

.form-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
}

.input-container label{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000022;
}

.input{
    border: 0;
    border-bottom: 2px solid #000022;
    outline: none;
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 8px;
    background-color: #e4e4e4;
}

.input:focus{
    border-color: gold;
    /* background-color: #cccccc; */
}

.textarea-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.textarea-container label{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000022;
}


.textarea{
    border: 0;
    border-bottom: 2px solid #000022;
    outline: none;
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 8px;
    background-color: #e4e4e4;
    resize: none;
    height: 50px;
}

.textarea:focus{
    border-color: gold;
    /* background-color: #cccccc; */
}

.button-container{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.button-container button{
    width: 80px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    color: #000022;
}

.save{
    background-color: goldenrod;
}

.save:hover{
    cursor: pointer;
    background-color: gold;
}

.reset{
    background-color: transparent;
}

.reset:hover{
    cursor: pointer;
    text-decoration: underline;
}

.errors{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.errors li{
    list-style: inside square;
    margin: 2px;
    font-weight: bold;
    color: #e20000;
}

.error{
    border-color: #e20000;
}